
.bg-color-black {
    background-color: black;
}

.bordered {
    border: 2px solid black;
}

.colored {
    background-color: rgba(204, 219, 180, 0.5);
}

.colored-lite {
    background-color: rgba(221, 248, 240, 0.9);
}


.noborder {
    border: none;
}
