<html>
    <head>
        <!-- bs-stylesheets -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <!-- <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
         rel='stylesheet'
         integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN'
         crossorigin='anonymous'>
        <!-- bs-stylesheets end -->
        <!-- Thirdy party (ChartJs) style sheets -->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='thirdparty/Chartjs/Chart.min.css') }}">
        <!-- custom-stylesheets -->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/shared.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/layouts.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/navbars.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/tabs.css') }}">
        <!-- custom-stylesheets end -->

    </head>
    <body id="body">
        <div id="main" class="container-fluid">
            <h1>Investing Strategy</h1>

           

        </div>

        <!-- bs-src -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous"></script>
        <!-- <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script> -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
        <!-- bs-src end -->
        <!-- ChartJS-->
        <script type='text/javascript'
            src="{{ url_for('static', filename='thirdparty/Chartjs/Chart.min.js') }}"></script>

        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/builderlib.min.js') }}"></script>
        <!-- <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/utils.js') }}"></script>
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/content_components.js') }}"></script>    
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/components.js') }}"></script> -->
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/invest.js') }}"></script>

    </body>


</html>
