<head>
      <meta charset = "UTF-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE = edge,chrome = 1">
      <title>{{ title }}</title>
      <!-- Add Any css files -->
     <!-- This is needed to avoid the favico.ico 404 error -->
     <link rel="shortcut icon" href="">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/builder.css">

