<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    {% for script in scripts -%}

    {# Example of how to call a dict element part of a #}
    {# list. #}
    <script src={{ script[script.keys()[0]]['path'] }} type="text/javascript"></script>
    {% endfor %}

