html:
    head:
        link:
            rel: "stylesheet"
            href: "../thirdparty/bootstrap-3.3.7-dist/css/bootstrap.min.css"
    body:
        div0:
            type: div
            class: "container-fluid"
            div1:
                type: div
                class: row
                    div2:
                        type: div
                        class: "col-md-3"
                        h3:
                            type: h3
                            text: "Theme sky"
                        img0:
                            type: image
                            src: "holder.js/180x180?theme=sky"

        script1:
            type: script
            src: "../thirdparty/jquery/jquery-3.3.1.min.js"



