<html>
    <head>
        <!-- bs-stylesheets -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
         rel='stylesheet'
         integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN'
         crossorigin='anonymous'>
        <!-- bs-stylesheets end -->
        <!-- custom-stylesheets -->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/shared.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/layouts.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/navbars.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/tabs.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/cards.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/custom.css') }}">
        <!-- custom-stylesheets end -->

    </head>
    <body>
        <!-- custom-grid-layout-1 -->
        <div class='grid-layout-1 c4 gap-5px'>
            <div class='gelem r1r2  colored-lite'>
                <!-- bs-card -->
                <div class='card'>
                    <div class='card-header'>Bootstrap card: Style -1</div>
                    <img class='card-img-top' src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg' alt='Card image cap'>
                    <div class='card-body'>
                        <h5 class='card-title'>Snippet: bs-card</h5>
                        <h6 class='card-subtitle mb-2 text-muted'>vscode html snippet</h6>
                        Some details added to card content.
                        <div class='card-footer text-muted'>A card footer</div>
                    </div>
                </div>
                <!-- bs-card end -->
            </div>
            <div class='gelem r1r2  colored-lite'>
                <!-- bs-card style-2-->
                <div class='card text-white bg-dark'>
                    <div class='card-header'>Bootstrap card: Style-2</div>
                    <div class='card-body'>
                        <h5 class='card-title'>Snippet: bs-card-style-2</h5>
                        <p class='card-text'>Some card text this is a primary text</p>
                    </div>
                </div>
                <!-- bs-card-style-2 end -->
            </div>
            <div class='gelem r1r2  colored-lite'>
                <div class="custom-card-1">
                    <div class="custom-card-header-1 custom-font-1">Header</div>
                    <div class="custom-card-body">
                        this is a test
                    </div>
                </div>
            </div>
            <div class='gelem r1r2  colored-lite fixed-row-height'>
                <!-- bs-card -->
                <div class='card text-center noborder colored-lite fixed-row-height' style='width: 20rem'>
                    <div class='card-body'>
                        <h4 class="display-4">20%</h4>
                        <h6 class='card-subtitle mb-2 text-muted'>
                            Rate of return
                        </h6>
                        Details
                        <a href='#'' class='card-link'>summary</a>
                    </div>
                </div>
                <!-- bs-card end -->
            </div>
            <div class='gelem c1c2 r2r4 colored-lite'>
                <!-- bs-card style-2-->
                <div class='card text-white text-center bg-warning'>
                    <div class='card-body'>
                        <h6>cpu utilization</h6>
                        <h5 class='display-4'>20%</h5>
                        <p class='card-text'>us-west-2</p>
                    </div>
                </div>
                <!-- bs-card-style-2 end -->
            </div>
            <div class='gelem c2c4 r2r4 colored-lite'>
                <!-- bs-card style-3-->
                <div class='card text-white text-center bg-warning'>
                    <div class='card-body'>
                        <h6>cpu utilization</h6>
                        <h5 class='display-4'>20%</h5>
                        <p class='card-text'>us-west-2</p
                    </div>
                </div>
                <!-- bs-card-style-3 end -->    
            </div>
            <div class='gelem c1c5 colored-lite'>
                <h5 style="background-color:cadetblue">This is a test </h5>
            </div>

        </div>
        <!-- custom-grid-layout-1 end -->


        <!-- bs-src -->
        <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
        <!-- bs-src end -->
        <script type='text/javascript'
        src="{{ url_for('static', filename='js/builder/components.js') }}"></script>
        <script type='text/javascript'
        src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    </body>


</html>