<html>
    <head>
        <!-- bs-stylesheets -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
         rel='stylesheet'
         integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN'
         crossorigin='anonymous'>
        <!-- bs-stylesheets end -->
        <!-- custom-stylesheets -->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/shared.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/layouts.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/navbars.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/tabs.css') }}">
        <!-- custom-stylesheets end -->

    </head>
    <body>
        <br>
        <h4>Custom grid layout 1</h2>
        <h5>Snippet prefix: grid-layout-1</h3>
        <!-- custom-grid-layout-1 -->
        <div class='grid-layout-1 c3 gap-10px bordered'>
            <div class='gelem  c1c4  r1r2  colored'> One</div>
            <div class='gelem  c1c2 r2r4 colored'>Two</div>
             <div class='gelem c2c4 r2r4 colored'>Three</div>
        </div>
        <!-- custom-grid-layout-1 end -->
        <br>
        <div class="grid-layout-1 c3">
            <div class="gelem c1c4 r1r2 colored">One</div>
            <div class="gelem c1c2 r2r4 colored">Two</div>
            <div class="gelem c2c4 r2r4 colored">Three</div>
        </div>
        <br>
        <br>
        <div class="grid-layout-1 c3">
            <div class="gelem c1c4 r1r2 colored">One</div>
            <div class="gelem c1c2 r2r3 colored">Two</div>
            <div class="gelem c2c4 r2r3 colored">Three</div>
            <div class="gelem c1c4 r3r4 colored">Four</div>
        </div>
        <br>
        <br>
        <div class="grid-layout-1 c3">
            <div class="gelem  colored">One</div>
            <div class="gelem colored">Two</div>
            <div class="gelem colored">Three</div>
            <div class="gelem colored">Four</div>
            <div class="gelem colored">Five</div>
            <div class="gelem colored">Six</div>
            <div class="gelem colored">Seven</div>
            <div class="gelem colored">Eight</div>
            <div class="gelem colored">Nine</div>
        </div>
        <br><br>
        <div class="grid-layout-1 c6">
            <div class="gelem  colored c1c3">One</div>
            <div class="gelem colored">Two</div>
            <div class="gelem colored">Three</div>
            <div class="gelem colored">Four</div>
            <div class="gelem colored">Five</div>
            <div class="gelem colored">Six</div>
            <div class="gelem colored">Seven</div>
            <div class="gelem colored">Eight</div>
            <div class="gelem colored">Nine</div>
            <div class="gelem colored">Ten</div>
            <div class="gelem colored">Eleven</div>
            <div class="gelem colored">Twelve</div>
            <div class="gelem colored">Thirteen</div>
            <div class="gelem colored">Fourteen</div>
            <div class="gelem colored">Fifteen</div>
            <div class="gelem colored">Sixteen</div>
        </div>
        <br>
        <br>


        <!-- bs-src -->
        <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
        <!-- bs-src end -->
        <script type='text/javascript'
        src="{{ url_for('static', filename='js/builder/components.js') }}"></script>

    </body>


</html>