<html>
    <head>
        <!-- bs-stylesheets -->
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <!-- <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
         rel='stylesheet'
         integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN'
         crossorigin='anonymous'>
         <script src="https://kit.fontawesome.com/ccf1e84da9.js" crossorigin="anonymous"></script>
         <!-- bs-stylesheets end -->
        <!-- Thirdy party (ChartJs) style sheets -->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='thirdparty/Chartjs/Chart.min.css') }}">
        <!-- custom-stylesheets -->
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/shared.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/layouts.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/navbars.css') }}">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static',
            filename='css/tabs.css') }}">
        <!-- custom-stylesheets end -->

    </head>
    <body id="main">
        <div class="container-fluid">
            <h1>ComponentJS tests</h1>
            <br>
            <div class="grid-layout-1 c6">
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('jt1')">
                        Jumbotron - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('jt2')">
                        Jumbotron - 2</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('jt3')">
                        Jumbotron - 3</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                     <!-- bs-button -->
                     <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('fg1')">
                        FormGroup - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('fg2')">
                        FormGroup - 2</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                     <!-- bs-button -->
                     <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('fg3')">
                        FormGroup - 3</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('sg1')">
                        SelectFormGroup - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('sg2')">
                        SelectFormGroup - 2</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                     <!-- bs-button -->
                     <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('fc1')">
                        FormCheck - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                     <!-- bs-button -->
                     <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('fc2')">
                        FormCheck - 2</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('col1')">
                        Collapse - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('chart1')">
                        BarChart - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('card1')">
                        Card - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('card2')">
                        Card - 2</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('card3')">
                        Card - 3</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('grid1')">
                        Grid - 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('linechart1')">
                        Line Chart 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="InvokeTest('icon1')">
                        Icon 1</button>
                    <!-- bs-button end -->
                </div>
                <div class="gelem ">Nineteen</div>
                <div class="gelem ">Twenty</div>
                <div class="gelem ">
                    <!-- bs-button -->
                    <button type='button' class='btn btn-dark btn-lg' onclick="ResetTest()">
                        Reset</button>
                    <!-- bs-button end -->
                </div>
            </div>
            <br><br>

            <div class="bordered" id="testinfo"></div>
            <br>
            <div style="padding:5px" class="bordered" id="testsetup"></div>


            
            <div id="test1"></div>
            <div id="test2"></div>
            <div id="test3"></div>

            <div id="table1"></div>
            <div id="form"></div>
            <p>Signup </p>
            <div id="signup"></div>

            <div id="main-grid"></div>
            <div id="card1"></div>


        </div>

        <!-- bs-src -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous"></script>
        <!-- <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script> -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
        <!-- bs-src end -->
        <!-- ChartJS-->
        <script type='text/javascript'
            src="{{ url_for('static', filename='thirdparty/Chartjs/Chart.min.js') }}"></script>

       <!-- <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/builderlib.min.js') }}"></script> -->
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/utils.js') }}"></script>
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/content_components.js') }}"></script>    
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/components.js') }}"></script>
        <script type='text/javascript'
            src="{{ url_for('static', filename='js/builder/tests.js') }}"></script>
        

    </body>


</html>
